{% block bogdan %}
<div class="single-team wow fadeInLeft" data-wow-duration="1000ms"
     data-wow-delay="400ms">
    <img src="static/img/bogdan.jpg">
    <div class="team-content">
        <h4 class="tem-member">Bogdan Crisan</h4>
        <h6>BuildDuty Trainee</h6>
        <p>Bogdan Crisan, Software Engineer, QA  Community, part of the depart
            ment led by Sorin Buiga.He has one year of experience in testing
            and repairing electronics systems and modules.</p>
        <ul class="team-social">
            <li>
                <a href="https://softvision.facebook.com/profile.php?id=100022293185242"
                   target="_blank">
                    <i class="fa fa-facebook"></i></a>


            </li>

            <li>
                <a href="mailto:bogdan.crisan@softvision.ro">
                    <i class="fa fa-envelope"></i></a>
            </li>

            <li>
                <i class="fa fa-phone"></i> 075 777 24 13
            </li>

        </ul>
    </div>
</div>
{% endblock %}