{% block cosmin %}
<div class="single-team wow fadeInLeft" data-wow-duration="1000ms"
     data-wow-delay="400ms">
    <img src="static/img/cosmin.jpg">
    <div class="team-content">
        <h4 class="tem-member">Cosmin Bontea</h4>
        <h6>BuildDuty Trainee</h6>
        <p>Cosmin is a new Buildduty trainee, he comes from the Android dev
        team.</p>
        <ul class="team-social">


            <li>
                <a href="mailto:cosmin.bontea@softvision.ro">
                    <i class="fa fa-envelope"></i></a>
            </li>

            <li>
                <i class="fa fa-phone"></i> 0755 738 318
            </li>

        </ul>
    </div>
</div>
{% endblock %}