{% block danut %}
<div class="single-team wow fadeInLeft" data-wow-duration="1000ms"
     data-wow-delay="400ms">
    <img src="static/img/danut.jpg">
    <div class="team-content">
        <h4 class="tem-member">Danut Labici</h4>
        <h6>BuildDuty Trainee</h6>
        <p> Danut Ioan Labici, Software Engineer, QA Community and is part of the department led by Sorin Buiga.He has 7 years of experience in web-development/marketing field/project management.</p>
        <ul class="team-social">
            <li>
                <a href="https://softvision.facebook.com/profile.php?id=100022333810324"
                   target="_blank">
                    <i class="fa fa-facebook"></i></a>
            </li>

            <li>
                <a href="mailto:danut.labici@softvision.ro">
                    <i class="fa fa-envelope"></i></a>
            </li>

            <li>
                <i class="fa fa-phone"></i> 0751 557 276
            </li>

        </ul>
    </div>
</div>
{% endblock %}