{% extends 'layout.html' %}

{% block content %}
<!-- Header Section Start -->
<header id="hero-area">
    <div class="overlay"></div>
    <nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="icon-menu"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end"
                 id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero-area">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="item active">
                    <div class="contents text-center">
                        <h1 class="wow fadeInDown" data-wow-duration="1000ms"
                            data-wow-delay="300ms">BuildDuty - 2018</h1>
                        <p class="lead  wow fadeIn" data-wow-duration="1000ms"
                           data-wow-delay="400ms">This internal project is
                            build with Python, Bootstrap4, FlexBoard, native
                            CSS Grid, Font Awesome,<br> Animate.css and WoW JS
                            Kit.

                        <div class="banner_bottom_btn wow bounce"
                             data-wow-duration="1000ms" data-wow-delay="700ms">
                            <a href="#team" class="js-target-scroll"><i
                                    class="icon-mouse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Header Section End -->

<!-- Team Section Start  -->
<section id="team" class="team-area section">
    <div class="container">
        <div class="section-header">
            <h3 class="section-subtitle wow fadeInDown"
                data-wow-duration="1000ms" data-wow-delay="300ms">Meet Our
                Team</h3>
            <h2 class="section-title wow fadeInUp" data-wow-duration="1000ms"
                data-wow-delay="300ms">Team Members</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">

                {% include 'danut.html' %}

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">

                {% include 'bogdan.html' %}

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">

                {% include 'cosmin.html' %}

            </div>
        </div>
    </div>
</section>
<!-- Team Section End  -->


{% endblock %}