<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BuildDuty - 2018</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/simple-line-icons.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    {% block pageCSS %}
    {% endblock%}
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>


{% block content %}

{% endblock %}
<script src="static/js/jquery-min.js"></script>
<script src="static/js/tether.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/mixitup.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/jquery.nav.js"></script>
<script src="static/js/smooth-scroll.js"></script>
<script src="static/js/smooth-on-scroll.js"></script>
<script src="static/js/wow.js"></script>
<script src="static/js/jquery.counterup.min.js"></script>
<script src="static/js/waypoints.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>