@import url(http://fonts.googleapis.com/css?family=Roboto:700,400);
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 26px;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-common {
  border: 2px solid #3498db;
  background-color: #3498db;
  position: relative;
  z-index: 1;
}
.btn-common:hover {
  color: #3498db;
  background-color: transparent;
  border: 2px solid #3498db;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.btn-border:hover {
  border: 2px solid #fff;
  background-color: #3498db;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 40px;
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #3498db;
}
.section {
  padding: 80px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
}
.section-header .section-title {
  font-size: 30px;
  margin-top: 0;
  padding: 30px 0 0px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
}
.section-header .section-title:before {
  position: absolute;
  content: " ";
  width: 50px;
  top: 15px;
  margin-left: 0;
  margin-right: 0;
  border-top: 2px solid #3498db;
}
.section-header .section-subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: transparent;
}
.menu-bg {
  background-color: #FFFFFF!important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 6px;
}
.menu-bg .navbar-nav .nav-link {
  color: #666!important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 7px 14px;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #3498db !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #3498db !important;
}
.navbar-light .navbar-toggler {
  border-color: #666;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 14px;
}
.navbar-light .navbar-toggler i {
  color: #666!important;
}
/* ==========================================================================
   Hero Area Style
   ========================================================================== */
#hero-area {
  background: url(../img/bg.jpg) no-repeat;
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #333;
  opacity: 0.9;
}
#hero-area .contents {
  padding: 160px 0 80px;
}
#hero-area .contents h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#hero-area .contents p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#hero-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#hero-area .banner_bottom_btn {
  margin-top: 40px;
}
#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#hero-area .banner_bottom_btn i:hover {
  color: #3498db;
}

/* ==========================================================================
   Team Section Style
   ========================================================================== */
.team-area .section-header {
  color: #666;
}
.single-team {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.single-team img {
  width: 100%;
}
.single-team .team-content {
  padding: 30px;
}
.single-team h4 {
  color: #3498db;
  font-size: 18px;
  text-transform: uppercase;
}
.single-team h6 {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin: 15px 0;
}
.single-team .team-social li {
  display: inline-block;
}
.single-team .team-social li a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.single-team .team-social i {
  color: #3498db;
  font-size: 16px;
  margin: 0 3px;
  width: 32px;
  height: 32px;
  border: 1px solid #3498db;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.single-team .team-social i:hover {
  color: #fff;
}
.single-team .team-social .fa-facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.single-team .team-social .fa-phone:hover {
  background-color: #55acee;
  border-color: #55acee;
}
.single-team .team-social .fa-dribble:hover {
  background-color: #D34836;
  border-color: #D34836;
}
.single-team .team-social .fa-flickr:hover {
  background-color: #ff0084;
  border-color: #ff0084;
}
.single-team .team-social .fa-youtube:hover {
  background-color: #CC181E;
  border-color: #CC181E;
}
.single-team .team-social .fa-envelope:hover {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.single-team .team-social .fa-linkedin:hover {
  background-color: #007bb5;
  border-color: #007bb5;
}
.single-team:hover {
  box-shadow: 0 0 10px 1px rgba(76, 76, 76, 0.41);
}


.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  background-color: #3498db;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-default.affix {
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.navbar-default.affix .navbar-brand {
  padding: 7px 0px;
}
.navbar-default.affix .navbar-nav {
  margin: 10px 0px 0px 20px;
}
.navbar-default.affix .navbar-nav > li > a,
.navbar-default.affix .navbar-nav > li > a:focus {
  padding: 10px 14px;
  color: #666;
}
.navbar-default.affix .side {
  padding: 18px 0;
}
.navbar-default.affix .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}
.navbar-default.affix .float-right li a {
  color: #3498db !important;
  border: 1px solid #3498db;
}
.navbar-default.affix .float-right li a:hover {
  background: #3498db;
  color: #fff!important;
}
.carousel-slider .owl-controls .owl-buttons {
  position: relative;
  top: -310px;
  left: 0;
}
.carousel-slider .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -145px;
}
.carousel-slider .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -145px;
}
.carousel-slider .owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: block !important;
  background: transparent !important;
  text-align: center;
  display: inline-block;
  opacity: 0.8!important;
  border-radius: 50px!important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.carousel-slider .owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1!important;
}
.carousel-slider .owl-theme .owl-controls .owl-buttons div i {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.carousel-slider .owl-theme .owl-controls .owl-buttons div i:hover {
  color: #3498db;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999999999;
}
.cssload-thecube {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  top: 45%;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  animation: cssload-fold-thecube 3.12s infinite linear both;
  -o-animation: cssload-fold-thecube 3.12s infinite linear both;
  -ms-animation: cssload-fold-thecube 3.12s infinite linear both;
  -webkit-animation: cssload-fold-thecube 3.12s infinite linear both;
  -moz-animation: cssload-fold-thecube 3.12s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -moz-animation-delay: 0.39s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -moz-animation-delay: 1.17s;
}
@keyframes cssload-fold-thecube {
  0%,
  10% {
    transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}
@-o-keyframes cssload-fold-thecube {
  0%,
  10% {
    -o-transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}
@-ms-keyframes cssload-fold-thecube {
  0%,
  10% {
    -ms-transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes cssload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cssload-fold-thecube {
  0%,
  10% {
    -moz-transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}
