#introduction {
  			background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)), 
  			url('./bg.jpg') 0% 0%/cover no-repeat
}

.fill-viewport {
  		min-height: 100vh 
}
		
.text-white-70 {
  		color: rgba(255,255,255,0.7)
}